# requirements for ubuntu 16.04
# run:
#   pip-compile --output-file=requirements-ubuntu1604.txt requirements-ubuntu1604.in

# also include optional viz requirements (pptk)
-e file:./[viz]

# dependency for the package
improcessor@git+https://github.com/ivapylibs/improcessor@main

# pin pyrealsense2 dependency to 2.38.1, which matches the latest package available for ubuntu 16.04
pyrealsense2==2.38.1.2225
